html {
    background-color: #111;
}

body {
    background-color: #111;
}

.explanation {
    font-family: verdana;
    color: #CCC;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    margin-bottom: 5px;
    font-size: x-small;
    padding-bottom: 5px;
}

.page-header {
    font-family: helvetica;
    font-weight: lighter;
    color: #CCCCCC;
    font-style: normal;
    text-align: center;
    font-size: xx-large;
    margin: 0px;
}

.explanation p a {
    color: #6495ed;
}

.explanation a {
    color: #6495ed;

}

#globe {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 600px;
}

div {
    background-color: #111;
}
